/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

 .heroBanner {
  padding-top: 4rem;
  text-align: center;
  position: relative;
  overflow: hidden;
  margin: auto;
  width: 85%;
  max-width: 500px;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}